<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> WELCOME TO TRACK-TREND</h1>
    {% for i in list_of_names %}
        <ul>
            <li>{{ i }}</li>
        </ul>
    {%endfor%}
    <h1>{{request_method}}</h1>

    <p>Please log in:</p>

    <form method="POST" action="/">
        <input type=text placeholder="First name:" name='first_name'>
        <input type=text placeholder="Last name:" name="last_name">
        <input type="submit">
    </form>
</body>
</html>